a {
	text-decoration: none;  
	color: black;
}
.naglowek{
	text-align: center;
}
.wpr {
	text-align: center;	
}
.tresc {
	text-align: justify;
}
.footer{
	float: left;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}
table {
	border: 2px solid black; 
	border-collapse: collapse;
	width: 100%;
	background-color: #7dff8e;
}
.footer{
	float: left;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}
td {
	padding: 15px;
	border: 2px solid black; 
	text-align: center;
)
